@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  /*background-color: black;*/
  background-image: url(https://img2.rtve.es/a/6872358?w=400&preview=1682336188585.jpg) ;
}

h2 {
  color: #ff9835;
  font-family: 'Bungee Spice', cursive;
}
.content {
  width: 95%;
  margin: auto;
}
header {
  padding: 30px 0;
}

header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Francois One', sans-serif;
  font-size: 20px;
}

header nav {
  justify-content: center;
  align-items: center;
}


header nav a {
  align-items: center;
  color: whitesmoke;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 5px;
  padding: 10px 20px;
  letter-spacing: 1px;
}

header nav a:hover {
  background-color: #FF7F3F;
}

h3 {
    color: white;
    margin: 10px;
    font-family: 'Francois One', sans-serif;
    margin-top: 50px;
    font-size: 30px;
  }

  /*traaaaaaaaaeler*/
.trailerserie {
    text-align: center;
  }


  /*SERIEEEEEEEEEEEEES SECTION*/
  .movieSelection .movie-item:hover {
    background-color: #faa668;
    cursor: pointer;
  }
  .movieSelection .movie-item {
    border: 1px solid #ccc;
    text-align: center;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color:rgba(118, 109, 109, 0.5);;
  }
  table {
    max-width: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 20px;
  }
  
  td {
    width: 25%;
    display: table-cell;
    vertical-align: top; 
    padding: 10px; 
  }
  
  @media (max-width: 768px) {
    td {
      width: 50%; 
    }
  
    table {
      width: 100%; 
    }
  }
  
  .movie-item img {
    max-width: 100%; 
    height: auto; 
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .movie-item h4 {
    color: whitesmoke;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .movie-item p {
    color: whitesmoke;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
  }
  /*FOOOOOOOOOOOOOOOOTER*/

footer {
  margin-top: 50px;
  padding: 20px 0;
  background-color: rgba(128, 128, 128, 0.3);
  display: flex;
  justify-content: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
}

.footer-container p {
  text-align: center;
  color: white;
}

.footer-container h2 {
  text-align: center;
}

.icons {
  font-size: 24px;
  margin-top: 10px;
  align-items: center;
  text-align: center;
}

.icons a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.icons a:hover {
  color: #FF7F3F;
}