@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  /*background-color: black;*/
  background-image: url(https://us.123rf.com/450wm/grigory_bruev/grigory_bruev2012/grigory_bruev201200299/162044167-cielo-nocturno-estrellado-negro-oscuro-natural-real-con-estrellas-tel%C3%B3n-de-fondo-de-fondo-natural.jpg);
}

.content {
  width: 90%;
  margin: auto;
}

h2 {
  color: #ff9835;
  font-family: 'Bungee Spice', cursive;
}

header {
  padding: 30px 0;
}

header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}


header nav a {
  align-items: center;
  color: whitesmoke;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 5px;
  padding: 10px 20px;
  letter-spacing: 1px;
}

header nav a:hover {
  background-color: #FF7F3F;
}

.movie {
  font-size: 16px;
  min-height: 40.62em;
  color: #fff;
  background: url(img/img1.jpg);
  background-position: center center;
  background-size: cover;
  margin-bottom: 3.12em;
  display: flex;
  align-items: end;
  background-size: 100% 100%;

}

.movie .content {
  margin: 0 auto;
  margin-bottom: 6.25em;
}


.movie .description {
  font-weight: normal;
  font-size: 1em;
  line-height: 1.75em;
  max-width: 30%;
  margin-bottom: 1.25em;
}

.movie .boton {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0.31em;
  padding: 0.93em 1.87em;
  color: #fff;
  margin-right: 1.25em;
  cursor: pointer;
  transition: .3s ease all;
  font-size: 1.12em;
}

.movie .boton:hover {
  background: #fff;
  color: #000;
}

.movie.boton i {
  margin-right: 1.25em;
}


/*MOVIES GENRES*/
.movies {
  padding: 0px 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px auto;
}

.movies ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  align-items: flex-start;
  margin-top: 20px;
}

.movies ul li {
  list-style: none;
  padding: 10px 20px;
  border-radius: 30px;
  margin: 5px;
  letter-spacing: 1px;
  color: white;
  border: solid #FF7F3F;
  cursor: pointer;
}

.movies ul li:hover {
  background-color: #FF7F3F;
}

/*MOVIES SECTIIIONNNNNNNNNNNN*/
.movieSelection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movieSelection .movie-item:hover {
  background-color: #faa668;
}

.movie-item {
  width: 200px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  background-color: #363434c2;
  border-radius: 20px;
  padding: 10px; 
}

.movie-item img {
  width: 100%;
  height: 300px; 
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}
.movie-item h4 {
  color: white;
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px; 
}

.movie-item p {
  color: white;
  text-align: center;
  font-size: 14px;
  margin-top: 10px; 
}

/*FOOTERrrrrrrrrrrrrrrrrrr*/
footer {
  margin-top: 50px;
  padding: 20px 0;
  background-color: rgba(128, 128, 128, 0.3);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.contact {
  color: #fff;
  text-align: left;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
}

.contact h2 {
  font-size: 30px;
  margin: 10px;
  text-align: left;
  letter-spacing: 2px;
  color: white;
}

.contact p {
  font-size: 15px;
  margin: 10px;
  text-align: left;
  letter-spacing: 2px;
}

.info p {
  font-size: 18px;
  text-align: left;
  margin: 10px;
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.box input,
.box textarea {
  width: 100%;
  margin: 5px;
}

.box input {
  width: 50%;
  height: 40px;
  padding: 0 10px;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  color: white;
}

.box textarea {
  width: 50%;
  height: 130px;
  padding: 0 10px;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  color: white;
  padding: 10px;
}

form button {
  width: 50%;
  background: #ff9835;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px;
}

form button:hover {
  background: #FF7F3F;
}